body{
	background-color: #fffbf4;
	font-family: 'Noto Sans TC', 'Times New Roman', Georgia, Serif;
	text-align: center;
}

h1{
	margin: 30px auto 20px auto;
}

p{
	line-height: 1.5;
}

span{
	margin: 0 5px;
}

.share{
	display: inline-block !important;
	margin: auto !important;
	text-decoration: none !important;
	color: #fff !important;
	height: 35px !important;
    padding: 0 3% !important;
	line-height: 35px !important;
	border-radius: 4px !important;
	margin: auto 10px 20px auto !important;
}

.lineShare{
	background: #00B900;
} 

.fbShare{
	background: #4267B2;
}  

.githubShare{
	background: #24292E;
}

#paletteWrapper{
	height: 50px;
	margin: auto;
	margin-bottom: 15px;
	cursor: pointer;
}

.option{
	width: 50px;
	height: 50px;
	margin: 0 .9vw 1vh;
	float: left;
	outline: 2px solid #aaa;
}

#penWrapper{
	height: 120px;
	margin: auto;
	margin-bottom: 15px;
	cursor: pointer;
}

.penBox{
	position: relative;
	width: 50px;
	height: 50px;
	margin: 0 .9vw 1vh;
	float: left;
	outline: 2px solid #aaa;
}

.penSize{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 100%;
}

.active{
	outline: 2px solid black !important;
}

#wrapper{
    position: relative;
    width: 620px;
    margin: auto;
}

#canvas{
	display: block;
    margin: 10px auto 44px;
    cursor: url(../images/brush.png) 5 35, auto;
}

#imgsWrapper{
    position: absolute;
    top: -9px;
    right: 26px;
}

.imgs{
	display: block;
    height: 50px;
    margin-bottom: 25%;
    cursor: pointer;
}

#uploadImg{
	display: none;
	margin:  auto;
	margin-bottom: 30px;
}

#btnStyle{
	display: block;
    width: 150px;
    padding: 0% 4%;
    margin: auto;
    background: #e24a4a;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    overflow: hidden;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}                  

#btnStyle:before{
	content: ' ';
	position: absolute;
	background-color: rgba(255, 255, 255, .3);
	width: 40px;
	height: 40px;
	top: 0;
	left: -50px;
	-webkit-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
	-webkit-transform: skewX(-25deg);
	     transform: skewX(-25deg);
}                  
                
#btnStyle:hover{
	background: #fd9b46;
}

#btnStyle:hover:before{
	width: 40px;
	left: 350px;
}  

#uploadButton{
	display: none;
}

#filenameDesc{
	position: relative;
	font-size: 1rem;
}

#filenameDesc:before{
	content: "";
    display: block;
    position: absolute;
    width: 90vw;
    top: -12px;
    left: 50%;
    margin-left: -45vw;
    border: 1px dashed #aaa;
}

#cusImgName{
	width: 220px;
    height: 20px;
    padding: 5px 10px;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 15px;
}

#cusText{
	width: 220px;
    height: 20px;
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#downloadBtn{
	display: block;
	position: relative;
	margin: auto;
	background: #605d63;
	text-decoration: none;
	color: #fff;
	width: 125px;
	height: 35px;
	padding: 0 2%;
	margin-bottom: 15px;
	line-height: 35px;
	border-radius: 4px;
	overflow: hidden;
	-webkit-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}                  
                        
#downloadBtn:hover{
	background: #8b8a8c;
}

/*#eraser{
	width: 100px;
	height: 50px;
	line-height: 50px;
	margin: auto;
	outline: 2px solid #aaa;
}*/

/*=======================Media Setting=====================*/
@media screen and (max-width:767px){

	#penWrapper{
		margin-bottom: 120px;
	}

	#wrapper{
		width: 100vw;
	}

	#imgsWrapper{
		position: relative;
		margin-bottom: 3vh;
		right: 0;
	}

	.imgs{
	    height: 40px;
	    margin: 0 1vw 3vh auto;
	    display: inline-block;
	}
}